/* Error: Undefined variable.
 *     ,
 * 129 |   padding-left: $grid-gutter-width-xs/2;
 *     |                 ^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   src/assets/sass/UtilityMixins.scss 129:17  l-container()
 *   src/assets/sass/UtilityMixins.scss 513:3   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 129 \2502    padding-left: $grid-gutter-width-xs/2;\a     \2502                  ^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   src/assets/sass/UtilityMixins.scss 129:17  l-container()\a   src/assets/sass/UtilityMixins.scss 513:3   root stylesheet";
}
